.page_sedation-dentistry {
  #page-banner .banner-img {
    background-image: url('assets/images/banner-sedation.jpg')!important;
  }
}
.page_emergency-dentistry {
  #page-banner .banner-img {
    background-image: url('assets/images/banner-emergency.jpg')!important;
  }
}
.page_dental-services {
  #page-banner .banner-img {
    background-image: url('assets/images/banner-services.jpg')!important;
  }
}
.page_sleep-apnea-therapy {
  #page-banner .banner-img {
    background-image: url('assets/images/banner-sleep-apnea.jpg')!important;
  }
}
