/* --- fixed-tabs --- */
#fixed-tabs {
  position: fixed;
  right: 0;
  text-align: center;
  line-height: 1;
  font-size: 0;
  z-index: 200;

  a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
    overflow: hidden;
  }

  i {
    font-size: 16px;
  }

  #fixed-tabs i,
  #fixed-tabs i:before {
    display: block;
    margin: 0 auto!important !important;
  }

  .ra {
    background-color: $primary;
  }

  .call {
    background-color: $secondary;
  }

  .map {
    background-color: #333;
  }

  .fm {
    background-color: #333;
  }

  .gp {
    background-color: $google;
  }

  .fb {
    background-color: $facebook;
  }
}
@media (min-width:1025px) {
  #fixed-tabs {
    display: none;
  }
}
@media (max-width: 1024px) {
  #fixed-tabs {
    display: block;
    bottom: 0;
    width: 100%;
    display: flex;

    a {
      padding: 12px 0;
      flex: 1;

      img {
        display: none;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    em {
      display: none;
    }
    .call, .map {
      display: none;
    }
  }
}
@media (max-width:768px) {
  #fixed-tabs {
    .call, .map {
      display: block;
    }
    .fm, .gp, .fb {
      display: none;
    }
  }

}
@media (max-width: 730px) {
  #fixed-tabs .ra strong {
    display: none;
  }

  #fixed-tabs .ra {
    flex: 2;
  }
}
