
/* --- simple form --- */
.simple {line-height: 1; font-size: 0; margin: 0 auto; text-align: center;
    input, textarea  {-webkit-box-sizing: border-box!important;box-sizing: border-box!important; border: 0; border-radius: 0; line-height: 1; font-size: 18px;
        width:100%; max-width: 100%; padding: 0 11px; margin-bottom: 10px; height: 45px; color: $primary; background-color: #eeeeee; }
    textarea {height: 130px; padding: 14px 11px;}
    input:focus, textarea:focus {outline: 0; background-color: #e7f0f6; color: $primary;}
}

::-webkit-input-placeholder {color: #333; }

#quest{padding:40px 10px 20px;-webkit-box-flex:0;-ms-flex:0 1 320px;flex:0 1 320px;margin-top:20px}
#quest .fo-title{color:$w; text-transform: uppercase; font-weight: 300; font-family: $font2; font-size: 24px;}
#quest .slick-form{margin:20px auto 10px;max-width:450px}
#quest .input{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;width:100%}
#quest .btn {
  background-color: $primary;
}
#quest button:after {
  display: none;
}
#quest .forms input,#quest .forms textarea{max-width:370px;height:55px;width:100%;background:transparent;padding:10px;font-size:17px;border:none;background-color:#fff;margin:0;color:#000;font-weight:300;font-size:16px;}

#quest .slick-dots{margin-top:8px}

#quest .slick-dots li:hover button{color:$tertiary}
#quest .slick-dots button{color: $w; opacity: 0.36; background-color: transparent;}
#quest .slick-dots .slick-active button{color: $w; opacity: 1;}
#quest .slick-arrow{position:relative;-webkit-transform:none;transform:none}
#quest .btn{min-width:100px;position:relative;left:auto;right:auto;top:auto;margin:0;padding-left:18px;font-size:14px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;letter-spacing:2.6px;font:500 13px/1 $font;color:#fff;border-radius:0;border:none;height:auto; padding: 10px;}
#quest .btn:hover{background-color:$tertiary;border-color:$tertiary}
#quest ::-webkit-input-placeholder{color:#2b2d2f}
#quest :-ms-input-placeholder{color:#2b2d2f}
#quest ::-ms-input-placeholder{color:#2b2d2f}
#quest ::placeholder{color:#2b2d2f}
#quest ::-webkit-input-placeholder{color:#2b2d2f}

/* --- social bucket --- */
.hl i:before {font-size: .75em; }

.social{font-size:0;text-align:center;margin:10px auto;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around}
.social a{position:relative;display:inline-block;margin:5px;font-size:35px;color:#507181;}
.social a:hover{background-color:#fff}
.social .fb:hover i{color:#4d70a8}
.social .gp:hover i{color:#dc4e41}
.social .yp:hover i{color:#b62717}
.social .yt:hover i{color:#d00}
.social .in:hover i{color:#c13584}
.social .tw:hover i{color:#00aced}
footer .h4{letter-spacing:.65px;opacity:1;font-size:14px;-webkit-transition:.3s all;transition:.3s all}
footer .logo{display:block;margin-bottom:10px}
footer .pho{font:400 50px/1.2 $font2;margin:10px auto;display:block; color: #a3c4cd;}
footer .pho:hover{color:#fff}
footer .phy{font:300 16px/1.2 $font;color: $w;margin:20px auto;display:block;}
footer .phy:hover{color:$tertiary}
footer .hrs{text-align:center}
footer .social{display:table}
footer .social a:first-of-type{margin-left:0}
footer star{font-size:22px;margin-right:6px;letter-spacing: 4.4px;}
#fo-contents{position:relative;padding:160px 10px;background:url(assets/images/footer-bkg.jpg) center;background-size:cover;background-attachment:fixed}
#fo-contents .flex-row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;margin:auto;max-width:1075px;background-color:rgba(80, 113, 129,0.83);padding:30px}
#fo-contents .line{width:1px;height:250px;background-color:#a9cad3; margin: 0 10px;}
.fo-info{-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;text-align:center}
.ft-btm .flex-row{max-width:1300px;margin:auto;padding:30px 10px 50px;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
.ft-reviews{font:300 16px/1.1 $font;letter-spacing:1px;}
.ft-reviews a {
  color: $text;
  &:hover {
    color: $primary;
  }
}
.ft-tnt {
  flex: 0 1 380px;
}
.ft-tnt > a{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: left;
  & > div {
    flex: 0 1 40%;
    padding: 5px;
  }
}
.ft-tnt > a .h4{letter-spacing:1.3px;-webkit-box-flex:0; flex: 0 1 38%;}
.ft-tnt > a:hover .h4{color:$tertiary}
.ft-btm {
  .h4 {
    font-family: $font;
    font-weight: 500;
    font-size: 16px;
    color: #c6bfbf;
    text-transform: none;
  }
}
#copy{font:500 16px/1.5 $font;color: #c6bfbf;text-align:center;letter-spacing:normal;text-transform:none;}
#copy a{color:$tertiary;}
#copy a:hover{color:$primary}
@media (min-width: 1000px) {
  footer {
    .social {
      margin-left: 0;
      text-align: left;
    }
    .ft-reviews {
      padding-left: 15px;
    }
  }
}
