
/* --- header ---- */
#hd-top {
  .flex-ed {
    & > a {
      flex: 0 1 50%;
      padding: 7px;
      background-color: #507181;
      font-family: "Heebo", sans-serif; text-transform:uppercase;
      color: $w;
      font-size:13px;letter-spacing:1.3px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-of-type {
      background-color: #7793a1;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
header {position: fixed; z-index: 100; left: 0; top: 0; width: 100%; background-color: #507181; transition: .3s all;
    .logo {position: relative; z-index: 1; margin-top: 10px;
        img {margin: 0;}
    }
    .pho {color: $w; flex: 0 1 50%; font: 400 32px/1.25 $font2; display: block; }
    .phy {display: block; flex: 0 1 100%; color:$w;  font-size: 16px; font-weight: 300; margin: 0 12px; }
    .pho:hover, .phy:hover  {color: $secondary;}
    .phy i, .pho i {color: $tertiary; font-size: 15px; margin-right: 4px;}
    li a {font-weight: 500;  font-family: $font; text-transform: uppercase; letter-spacing: 1.4px;}
    [class^="btn"] { margin: 0; color: #fff; justify-content: center; align-items: center;  min-width: auto; font-size: 13px; letter-spacing:1.3px; padding: 12px 6px; margin: 3px;}
}
.hd-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  flex: 0 1 460px;
  order: -1;
  .btn-thr {
    flex: 0 1 50%;
    margin: 0;
    &:hover {
      color: $primary;
    }
  }
}
.hd-btns {
  display: flex;
  flex: 0 1 335px;
  justify-content: space-between;
  [class^="btn"] {
    background-color: $t;
    border: 2px solid #e5c0ae;
    &:after {
      display: none;
    }
  }

  a {
    border-radius: 0;
    margin: 0;
  }
  .ra {
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 15px 65px;
    span {
      display: block;
    }
    &:before {
      content: '';
      position: absolute;
      width: 46px;
      height: 100%;
      left: 0;
      background-color: $primary;
    }
    i {
      position: absolute;
      left: 5px;
      font-size: 27px;
    }
    &:hover {
      border-color: $secondary;
      &:before {
        background-color: $secondary;
      }
    }
  }

  .fm,
  .review {
    padding: 5px 5px 5px 35px;
    border-color: $secondary;
    line-height: 1.1;
    min-width: 135px;
    &:before {
      content: '';
      position: absolute;
      width: 28px;
      height: 100%;
      left: 0;
      top: 0;
      background-color: $secondary;
    }
    i {
      position: absolute;
      left: 5px;
    }
    &:hover {
      border-color: $primary;
      &:before {
        background-color: $primary;
      }
    }
  }
  .fm {
    margin-top: 5px;
    border-color: $tertiary;
    &:before {
      background-color: $tertiary;
    }
  }
  &>div {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width:1026px) {
    body {padding-top:0!important;}
    header { background-color: $t;}
    .place-nav {max-width: 1400px;  margin: 0 auto; padding: 7px 10px;  display: flex; justify-content: space-between; align-items: center; }
    nav {flex: 0 1 790px; }
    nav, nav ul li, nav ul li a {position: relative;}
    #main-nav {
      margin-top: 15px;
    }
    nav > ul {
      padding: 0;
      padding-top: 20px;
      max-width: 1375px;
      margin: auto;
      position: relative;
      &:before {
        content: '';
        height: 2px;
        width: 100%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 9%, #ffffff 91%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
    }
    nav ul {  margin: auto; list-style: none;  display: flex; justify-content: space-around;}
    nav ul li a {display: block;  color: #fff;}
    nav ul li a:hover {color: #fff;}
    nav > ul > li {flex: 1 1 auto; text-align: center;}
    nav > ul > li:last-of-type:after {display: none;}
    nav > ul > li > a {padding: 6px; font-size: 14px;letter-spacing:1.4px; color: $w;}
    nav > ul > li:hover > a {color: $tertiary;}
    nav ul li:hover > ul {display:block; animation-name: fadeIn;animation-duration: .25s;animation-fill-mode: both;}
    nav ul ul {display:none; min-width:365px; width: 100%; padding: 0;position: absolute; z-index: 3; left:0; text-align: left; background-color: $secondary; box-shadow: 10px 17.3px 25px rgba(0, 0, 0, 0.2);}
    nav > ul > li:last-child ul {right: 0; left:auto;}
    nav ul ul li > a {padding: 10px 12px; font-size: 14px; line-height: 1.3; text-transform: none;  }
    nav ul ul li:hover > a {background-color: $tertiary; color: #fff;}
    nav ul ul ul {left:100%; top:0; background-color: $secondary;}
    nav ul ul ul li:hover a{background-color: $primary; color: #fff;}
}
.fix-nav {
    header {position: fixed!important; background-color: #507181;  box-shadow: 0 3px 7px rgba(24, 23, 24, 0.35); animation-duration:1s; animation-fill-mode: both; }
    #hd-top {display: none;}
}
@media (max-width:1025px) {
    .hd-info { display: flex; align-items: center;  margin-right: 10px; justify-content: center; text-align: center;}
    header .pho {font-size: 30px;}
    header .logo {padding: 8px; img {max-height: 60px;}}
    #main-nav, header .hd-btns, header [class^="btn"]  {display: none; }
    .nav-down {box-shadow: 0 3px 7px rgba(24, 23, 24, 0.2); }
    .nav-up {  transform: translateY(-100%); }
    header nav ul{ display: none; }
    body,header,.mean-container .mean-nav{transition:all .3s}
    body{right:0} .attach header{position:fixed!important;  box-shadow: 0 3px 7px rgba(24, 23, 24, 0.35);}.attach header .top-nav{display:none!important} body.mean-active header{left:-80%}body.mean-active{overflow:hidden;right:80%}body.mean-active:before{z-index:98;content:'';opacity:.7;background-color:#000;position:absolute;left:0;right:0;top:0;bottom:0; background-image: none; height: inherit}body.mean-active .mean-container .mean-nav{right:0;}
    .mean-container{display: flex!important; -ms-flex-flow: row nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between}
    .mean-container .mean-bar {background-color:$tertiary;  width: 70px; min-height: 70px; display: flex; flex-direction: column; justify-content: center; align-items: center; align-self: stretch;  margin-left: 8px;}
    .mean-container a.meanmenu-reveal{display:block;  color:#fff;}.mean-container a.meanmenu-reveal.meanclose i:before{-webkit-transform:rotate(45deg);transform:rotate(45deg); font-size: 60px; content: '+'; margin: -5px 0 0 8px;}
    .mean-container .mean-bar .icon-menu {position: relative; display: table; }
    .mean-container .mean-bar .icon-menu {position: relative; display: table; transition: .3s all;z-index: 1; transform: rotate(90deg) scaleY(1.25); letter-spacing: 3.2px;  }
    .mean-container a.meanmenu-reveal .icon-menu:before {font-size: 30px; content: '|||';  transition: transform .25s cubic-bezier(0.25, 0.46, 0.45, 0.94),color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
    .mean-active .mean-container a.meanmenu-reveal .icon-menu:before {transform: skew(-15deg);}

    .mean-container .mean-nav{position:fixed;right:-80%;margin:0;top:0;bottom:0;width:80%;overflow:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-flow:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-flow:column; justify-content: flex-start; background-color: $tertiary;}.mean-container .mean-nav ul{font-size:16px; padding:0;margin:0;width:100%;list-style-type:none}.mean-container .mean-nav ul li{position:relative;width:100%}.mean-container .mean-nav ul li a{display:block;padding:1em 5%;padding-right:58px!important;margin:0;text-align:left;color:#000;border-top:1px solid rgba(255,255,255,.5);text-decoration:none;text-transform:uppercase}.mean-container .mean-nav ul li li a{padding:1em 10%;border-top:1px solid #f1f1f1;border-top:1px solid rgba(255,255,255,.25);opacity:.75;filter:alpha(opacity=75);text-shadow:none!important;visibility:visible}.mean-container .mean-nav ul li.mean-first a{border-top:none;margin-top:0}.mean-container .mean-nav ul li.mean-last a{border-bottom:none;margin-bottom:0}.mean-container .mean-nav ul li li li a{padding:1em 15%}.mean-container .mean-nav ul li li li li a{padding:1em 20%}.mean-container .mean-nav ul li li li li li a{padding:1em 25%}.mean-container .mean-nav ul li a:hover{background:#252525;background:rgba(255,255,255,.1)}.mean-container .mean-nav ul li a.mean-expand{width:48px;line-height:50px;font-size:20px;padding:0!important;text-align:center;position:absolute;right:0;top:0;z-index:2;background:rgba(255,255,255,.1);border:none!important;border-left:1px solid rgba(255,255,255,.4)!important;border-bottom:1px solid rgba(255,255,255,.4)!important}.mean-container .mean-nav ul li a.mean-expand:before{content:'\e825';font-family:'fontello';font-weight:400;margin:0;font-style:normal}.mean-container .mean-nav ul li a.mean-expand.mean-clicked:before{content:'\e83a'}.mean-remove{display:none!important}
    .mean-nav .social { min-height: 66px; background-color: rgba(0,0,9,0.1); margin: 0; padding: 10px 5px; justify-content: center;}
    .mean-nav .fo-title{ color: #fff; text-align: center;}
    .mean-nav .hours{display: block; font-family: $font;text-align: center; color: #000;padding:10px; margin: 10px auto auto; }.mean-nav .hours p{ display: table; text-align: left; font-size: 15px; margin:10px auto 0; color: #fff;}
}
