#banner {
  position: relative;
  background-color: #1d1e1f;
  h1 {
    small {
      text-align: center;
    }
  }
  .h2 {
    font-size: 72px;
    color: $w;
    span {
      display: block;
      position: relative;
      left: 90px;
    }
  }

  article {
    z-index: 10;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    width: 100%;
    padding: 10px;
  }
  figure {
    img {
      width: 100%;
      opacity: 0.65;
    }
  }
  figure, video {
    display: block;
  }

  .play {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $w;
    background: rgba(29, 30, 31, 0.65);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.playing {
    z-index: 100;

    article {
      position: relative;
      transform: none;
      left: 0;
      top: 0;
    }
  }
  .badge {
    position: absolute;
    bottom: 30%;
    right: 5%;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 170px;
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
  }
}

#callouts {
  margin: 80px auto;
  p {
    font-size: 20px;
    letter-spacing: 2px;
    line-height:1.9;
  }
  .intro {
    font-size: 36px;
    line-height:1.2;
    font-family: $font2;
    text-transform: uppercase;
  }
  .container {
    max-width: 980px;
    padding: 20px;
    margin: 0 auto;
  }
  article {
    padding: 0 20px;
    margin: 20px auto;
    border-left: 12px solid #a9cad3;
  }
}

#meet {
  .sig {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 300;
    color: #a9cad3;
    font-size: 18px;
    letter-spacing:1.8px;
    text-transform: uppercase;
    img {
      margin: 0 20px;
    }
  }
  figure {
    flex: 0 1 555px;
    position: relative;
  }
  figcaption {
    position: absolute;
    display: table;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    .btn-alt {
      min-width:240px;
      margin: 0;
      padding: 30px;
    }
  }
}

#assoc {
  margin: 65px auto;
  text-align: center;
  .flex-ed {
    max-width: 1300px;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 259px;
      width: 100%;
      height: 175px;
      background: #f6f4f4;
      border: 3px solid #ffffff;
      filter: grayscale(1);
    }
  }
}

#implants-index, #ortho-index {
  margin: 120px auto;
}

/* --- Reviews --- */
#reviews {
  position: relative;
  margin: 50px auto;
  padding: 30px 10px;
  text-align: center;
  max-width: 1300px;
  .heading-small, .h2 {
    text-align: left;
  }
  .flex-ed {
    justify-content: space-around;
    margin: 30px 0;
  }

  .review {
    position: relative;
    max-width: 408px;
    width: 100%;
    padding: 25px;
    border: 2px solid #c6bfbf;
    &:before {
      content: '\e838';
      font-family: 'fontello';
      font-size: 62px;
      color: $secondary;
    }
  }



  author {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    color: #7793a1;
    letter-spacing: 1.8px;
    font-weight: 300;
    text-transform:uppercase;
    strong {
      font-weight: 500;
    }

    i {
      margin-right: 20px;
      display: block;
      font-size: 28px;
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
    }
  }

  p {
    font-size:17px; letter-spacing:1.7px;color:#1D1E1F;font-weight:300;
  }

  star {
    display: block;
    font-size:22px;
    letter-spacing: 4.4px;
    &:before {
      color: $primary;
    }
  }
  .badge {
    position: absolute;
    right: 25%;
    top: -8%;
    z-index: 2;
  }
}

#testimonials {
  margin: 120px auto;
  .play {
    border: 2px solid $w;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .caption {
    font-size: 16px;
    color: $w;
    letter-spacing: 1.6px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .lg-vid {
    .play {
      width: 108px;
      height: 108px;
    }
  }
  .flex-ed {
    justify-content: center;
    flex-wrap: wrap;
    .small-vids {
      display: flex;
      flex-direction: column;
      & > a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:2px;
        margin-left: 3px;
        &:first-of-type {
          margin-top: 0;
        }
        &:hover {
          i:before {
            color: $primary;
          }
        }
      }
    }
    .playing {
      width: 100%;
      & + .small-vids {
        flex-direction: row;
      }
    }
  }
}

#financing {
  position: relative;
  background: url('assets/images/index-insurance.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 0;
  padding-top: calc(742 / 1400 * 100%);
  margin: 75px auto;
  .heading-small, .h2 {
    color: $w;
  }
  .h2 {
    margin: 10px auto;
    line-height:1.4;
  }
  .btn, .btn-alt {
    display: table;
    margin: 10px auto;
  }
  article {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
  }
}


.split {
  padding: 0 10px;

  .flex-ed {
    max-width: 1350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  article {
    flex: 0 1 50%;
    padding: 10px;
  }

  .btn, .btn-alt {
    margin-left: 0;
  }

  figure {
    flex: 0 1 48%;
    max-width: 555px;
    position: relative;
    .cpn {
      position: absolute;
      bottom: -30px;
      right: -30px;
    }
  }

  .caption {
    padding: 10px;
    text-align: center;

    a {
      color: #fff;
      padding: 0 5px;

      &:hover {
        color: $primary;
      }
    }
  }

  &.playing .flex-ed {
    display: block;
  }
  &.dark {
    position: relative;
    background-color: #507181;
    color: $w;
    max-width: 1237px;
    margin-left: auto;
    padding: 60px 30px;
    p {
      color: $w;
      font-size:17px;
    }
    &:before {
      content: '\e838';
      font-family: 'fontello';
      position: absolute;
      left: -150px;
      color: #a9cad3;
      font-size: 223px;
    }
    .quote {
      font-size: 36px;
      line-height: 44px;
      font-family: $font2;
      text-transform: uppercase;
    }
    article {
      padding: 30px 70px;
    }
  }
}
.mini-callouts {
  display: flex;
  flex-wrap: wrap;
  .callout {
    display: flex;
    align-items: center;
    margin: 15px 0;
    flex: 0 1 50%;
    &:hover {
      .h3 {
        color: $primary;
      }
    }
  }
  .icon {
    width: 108px;
    height: 108px;
    border: 2px solid #507181;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  .h3 {
    font-family: $font;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height:1.4;
    text-transform: none;
    color: #507181;
  }
}

#digital {
  margin: 120px auto;
  .callout {
    &:hover .h3 {
      color: #507181;
    }
  }
}

#ortho-index {
  .cpn {
    right: auto;
    left: -35px;
  }
}

#team {
  margin: 75px 0 75px auto;
}

.cpn {
  text-align: center;
  background-color: $w;
  color: #507181;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  border: 3px solid #507181;
  .top {
    color: $w;
    background-color: #507181;
    padding: 13px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.65px;
  }
  .main {
    padding: 23px;
    span {
      display: block;
      font-size: 36px;
      color: #a9cad3;
    }
  }
}

a.cpn {
  &:hover {
    background-color: $primary;
    .main, .main span {
      color: $w;
    }
  }
}
