/* --- page foundation --- */
#page {position: relative; display: block; width: 100%; margin: 40px auto 30px; padding: 0 10px; max-width: 1400px; clear: both;}
#page.has_divider {margin-bottom: 0;}
.page_index .internal {display: none;}
.center {text-align: center;}
 #page h2 + p  {margin-top: 5px}
#page .elem-left + p, #page .elem-right + p {margin-top: 20px}
#page ul + h2, #page ul + h3 {margin-top: 30px}
main {overflow: hidden}
main ul {list-style: none;  padding: 0; margin: 10px 0; text-align: left; overflow: hidden; font-weight: 300;
    li {position: relative; display: block; margin: 0 0 10px 26px; padding-left: 24px; line-height: 1.6; overflow: hidden;}
    li:before {content: url('assets/images/li-deco.png'); color: $primary; position: absolute; left: 0; top: 0;}
}
@media (min-width:800px) {
    ul.two {-webkit-column-count: 2;column-count: 2;}
}
@media (max-width:590px) {
    main ul li {margin-left: 10px}
    .elem-left, .elem-right, .block .elem-left, .block .elem-right {display: table; float:none; margin:15px auto!important; max-width:100%;}
}


/* --- title --- */
#page-banner {
  position: relative;
  .banner-img {
    height: 0;
    width: 100%;
    padding-top: calc(820 / 1920 * 100%);
  }
  &.has-img {
    padding: 250px 10px 140px;
    background-color: #507181;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .banner-img {
      display: none;
      background-image: none!important;
    }
    #page-title {
      position: static;
      transform: none;
    }
    #intro {
      border-left: 0;
      p {
        color: $w;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 36px;
      }
    }
    .title-wrapper {
      max-width: 550px;
    }
    & + #page {
      margin-top: 0;
      .page-divider {
        margin-top: 0;
      }
    }
  }
}
#page-title {
  position: relative;
  text-align: center;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-60%, -20%);
  width: 100%;
  h1:only-child,
  h2#append {
    -webkit-animation: fadeInUp 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: fadeInUp 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    max-width: 1015px;
    margin: auto;
  }
}

#intro {
  margin: 0 auto 20px; padding: 15px 15px 15px 30px;
  max-width: 900px;
  border-left: 12px solid #a9cad3;
  font-size: 20px; letter-spacing: 2px; line-height: 36px;

    p:first-of-type {margin-top: 0;}
  }
#main-img {flex: 0 1 555px; max-width: 555px; width:100%;}

.page_index {
  #page-banner {display: none;}
}

@import "banners";


.why {padding: 30px 10px 10px; position: relative; overflow: visible !important;

    h2 {text-align: center; font-size: 36px;
      span {display: block; font-size: .8em;}
    }
    article {overflow: hidden;}
    ul {display: flex; justify-content: space-around;  align-items: center; text-align: center;   align-items: flex-start;}
    ul li { max-width: 370px;  flex: 1 1 33%; padding: 0; margin: 10px; width: 100%; font-size: 24px; line-height: 1.2;font-family: $font2; color: $text; overflow: visible; text-transform: uppercase;

    }
    ul li:before  { content: ''; position: static; display: block; margin: 0 auto 10px; width: 80px; height: 120px;  background: url('assets/images/why-icon.png') no-repeat top center;  }
}

/* --- divider sections --- */
.page-divider {display: block; clear: both; max-width: 100%; width: 100%; position: relative; z-index: 1; margin-top: 40px;}
.block {position: relative; display: table; clear: both; width: 100%; max-width: 100%; padding: 60px 10px;
    .contain { display: flex; justify-content: space-around; align-items: flex-start;}
    h2 {margin-bottom: 20px;}
    .wrap {height: 0;}
    article { margin: auto; flex: 0 1 550px; }
    article p:first-of-type {margin-top: 0;}
    ul li{margin-left: 0;}
    .btn {margin-left: 0;}
    .elem {flex: 0 0 auto; position: relative; z-index: 5}
    .elem-right {order: 1;}
}

.block:last-of-type {margin-bottom: 0;}
.block:nth-of-type(odd):after {content: ''; position: absolute; left: -900px; right: -900px; top: 0; bottom: 0;background-color: #e4ecef; z-index: -1;}
.block .tall {display: block; overflow: visible;}

.mini-block {display: table; clear: both; padding: 30px 0 0; margin-top: 30px;
  .elem-sm {max-width: 407px;}
}

.two-col {
  column-count: 2;
}

.more-to-explore { position: relative; text-align: center; margin: 0 auto; padding: 60px 10px 80px; background-color: #507181;
    p {  padding: 10px; margin: auto; max-width: 1350px; }
    [class^="btn"] {min-width: 400px; margin: 10px;}
    span {
      font-size: 24px;
      color: $w;
      margin-bottom: 30px;
      display: block;
    }
}

.specials-flex {
  justify-content: center;
  flex-wrap: wrap;
  .cpn {
    margin: 10px;
  }
}

.landing {
    display: flex; align-items: flex-start; justify-content: space-around; flex-wrap: wrap;
    a {flex: 0 1 23%; margin: 10px auto 20px; text-align: center;
        h3 {padding: 10px; background-color: $primary; color: #fff; font: 400 15px/1 $font2; text-transform: none; transition: .3s all;}
        &:hover h3 {background-color: $secondary; color: #fff;}
    }
}
/* --- services  --- */
.services { max-width: 1380px; margin: 40px auto; align-items: stretch; flex-wrap: wrap;

    div {
      flex: 0 1 32%;
      padding: 0 15px;
      margin: 10px auto;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 20%;
        background-color: #e4ecef;
        z-index: -1;
      }
      &:nth-of-type(even) {
        &:before {
          background-color: #eeeaea;
        }
      }
      &:last-of-type {
        flex: 0 1 100%;
        padding: 30px;
        background-color: #507181;
        color: $w;
        text-align: center;
        .h2 {
          color: $w;
        }
        &:before {
          display: none;
        }
      }
    }
    div h3 {
      display: block;
      text-align: center;
      line-height: 1.1;
      background-color: #507181;
      padding: 15px;
      color: $w;
    }
    div h3 span {display: block; font-size: 18px; }
    figure {  transition: .4s all;   z-index: 1; position: relative;}
    ul {display: table; margin: 20px auto;}
    ul li {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      line-height: 2.4;
       margin: 5px auto;
       padding-left: 0;
       &:before {
         display: none;
       }
       &:after {
         content: url('assets/images/services-arrow.png');
         margin-left: 10px;
       }
     }
    ul li a {color: #507181;}
    div > a:hover h3 {color: $primary;}
    ul li:hover a {color: $secondary;}
}

#refer {background: $secondary; margin: 40px auto; max-width: 700px; padding: 40px 20px 30px;}
#refer .simple {max-width: 650px; margin: auto;}

/* --- faq --- */
.accordion {margin: 20px auto; text-align: left;
    .toggle {position: relative; cursor: pointer; clear: both; font-size: 24px; font-family: $font2; padding: 15px 10px 15px 55px; margin: 7px auto 0;

    }
    > div p {margin: 0;  position: relative; }
    .toggle:before{content: url('assets/images/arrow-faq.png'); color: #fff;border: 2px solid #507181; border-radius: 50%; position: absolute; top: 0; left: 0;  width: 42px; height: 42px; background-color: $t; display: flex; justify-content: center;
    align-items: center;}
    .toggle.active:before {
      transform: rotate(90deg);
    }

    &:hover .toggle:not(:hover) {opacity: 0.7}
    &:hover .toggle.active {opacity: 1}
    p {position: relative;}
    > div {display:none; padding: 20px;}
     > div p + p {margin-top: 15px}
     > div ul {margin-bottom: 0}
}


/* --- contact --- */
.hours {display: table; margin: 10px auto; text-align: left!important;  font-size: 16px; line-height: 24px;
    label {width:120px; display: inline-block; font-weight: 700;}
}

.contact {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1050px; margin: 30px auto;
    p {margin: 15px 0 10px; line-height: 1.4;}
    > div:first-child {-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto; margin-right: 20px;}
    > div:last-child {margin-right: 10px;}
}
.contact-map iframe {height: 350px; margin-top: 30px;}
.page_contact-us #map {display: none;}

.flex-ed-special {
    article {flex: 0 1 450px; margin: auto; padding: 10px; margin-right: 20px;}
}

#specials-form {margin: 30px auto; flex: 0 1 550px;
    .coupon {pointer-events: none; margin: 0;}
    form {background-color: $secondary; padding: 10px 10px 20px;}
    input { max-width: 450px; margin: 5px auto 10px;  display: block;background-color: white;
      font-size: 16px; color: #333;}
    input:focus { box-shadow: inset 0 0 0 2px secondary; }
    form .btn {display: block; min-width: 270px; margin: 10px auto;}
    form .btn:hover {background-color: $secondary;}
    .simple ::-webkit-input-placeholder {color: #333; }
}

#events-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .event {
    flex: 0 1 33%;
    text-align: center;
    border: 2px solid $tertiary;
    margin: 2px;
    padding: 15px 30px;
  }
  ul li {
    text-align: center;
    padding-left: 0;
    strong {
      font-weight: 500;
    }
    &:before {
      display: none;
    }
  }
}

.styled-form { margin: 30px auto; font-size: 16px }
.styled-form [class^="btn"] {margin-left: 0;}
.styled-form .drei { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap }
.styled-form .drei+.drei { margin-top: 5px }
.styled-form .input-content, .styled-form .inline { width: calc(100% / 3 - 5px); min-height: 60px }
.styled-form .inline, .input-content { background-color: $text;}
.input__label-content strong, .input__label-content strong a { color: #fff }
.input-content, .styled-form .inline label, .styled-form .inline, .input--filled .input__label .input__label-content strong, .input--filled .input__label .input__label-content a { color: #fff !important }
.styled-form .drei:first-of-type { line-height: 1 !important }
.styled-form .inline { box-sizing: border-box; padding: 8px 16px }
.styled-form .inline span input { margin-right: 4px }
.styled-form .inline span { display: block; line-height: 1.4 }
.styled-form .hear { margin: 5px 0 }
.styled-form .hear label { display: inline-block; margin-right: 8px }
.styled-form .inline.wide { width: calc(100% / 1.5 - 3px) }
.input-content { position: relative; z-index: 1; overflow: hidden }
.input__field { -webkit-appearance: none; position: absolute; z-index: 2; display: block; float: right; border: none; border-radius: 0; padding: 0 14px; margin-top: 1.2em; height: 40px; width: 100%; background: transparent; color: #fff }
.input__field { outline: none }
.styled-form *:focus {outline-color: $primary; outline-style: ridge; outline-width: thin;}
.input__label { display: inline-block;  padding: 0; width: 100%; background: transparent; text-align: left; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.input__label::before { content: ''; box-sizing: border-box; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px solid transparent; -webkit-transition: border-width 0.3s, border-color 0.3s; transition: border-width 0.3s, border-color 0.3s }
.input__label-content { box-sizing: border-box; position: relative; display: block; width: 100%; padding: 1.1em 1em; text-rendering: geometricPrecision; -webkit-transform-origin: 0% 50%; transform-origin: 0% 50%; -webkit-transition: -webkit-transform 0.3s, color 0.3s; -webkit-transition: color 0.3s, -webkit-transform 0.3s; transition: color 0.3s, -webkit-transform 0.3s; transition: transform 0.3s, color 0.3s; transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s }
.input__label-content strong { float: right; font-weight: 300 }
.input__field+.input__label::before, .input--filled .input__label::before { border-width: .2em 0 0; border-color: $primary; border-top-width: 1.5em }
.input__field+.input__label .input__label-content, .input--filled .input__label .input__label-content { color: #fff; font-size: 16px; padding: .85em .5em; -webkit-transform: translate3d(0, -0.65em, 0); transform: translate3d(0, -0.65em, 0) }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: transparent !important }
.styled-form .inline textarea { padding: 5px; display: block; width: 100%; height: 80px; font-size: 16px; margin-top: 5px }
.styled-form .inline textarea { color: #000; padding: 5px; display: block; width: 100%; height: 120px; font-size: 16px; margin-top: 5px }
.styled-form .inline.wide { width: calc(100% / 1.5 - 3px) }
@media (max-width:800px) {
  .styled-form .input-content, .styled-form .inline { width: 100%; display: block; border-bottom: 1px solid rgba(206, 206, 206, 0.22) }
  .styled-form .input-content+.input-content { margin-top: 5px }
  .styled-form .inline.wide { width: 100%; margin-top: 5px }
}
.styled-form select {border: 1px solid $text; padding: 5px;}
.options label {display: block; margin-bottom: 5px;}
.options [type=checkbox], .options [type=radio] { -webkit-appearance: none;position: relative; background-color: #fff; padding: 9px; border-radius: 3px; vertical-align: middle; }
.options [type=radio] {border-radius: 50%;}
.options [type=checkbox]:active, .options [type=checkbox]:checked:active, .options [type=checkbox]:checked,
.options [type=radio]:active, .options [type=radio]:checked:active, .options [type=radio]:checked  { background-color: #fff; }
.options [type=checkbox]:checked:after, .options [type=radio]:checked:after  {font-family: fontello; content: '\e832'; font-size: 13px; position: absolute; top: 2px; left: 2px; color: $primary;}
.options [type=radio]:checked:after {  content: ''; width: 14px; height: 14px; background-color: $primary; border-radius: 50%;}
