/*   Media Queries   */
@media (min-width:950px) {a[name]:before {height: 190px; margin-top: -190px; display: block; content: ""; visibility: hidden;}}
@media (max-width:950px) {a[name]:before {height: 120px; margin-top: -120px; display: block; content: ""; visibility: hidden;}}
@media (max-width:590px) {a[name]:before {height: 90px; margin-top: -90px; display: block; content: ""; visibility: hidden;}}
/*   Firefox   */
@-moz-document url-prefix() {  }
/*   Explorer   */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #page-title {min-height: 150px;}
}
@media (max-width: 1400px) {
  #testimonials {
    .lg-vid {
      max-width: 1015px;
      margin: 0 auto;
    }
    .flex-ed {
      flex-direction: column;
      .small-vids {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 1390px) {
  #page-title {
    transform: translate(-50%, -20%);
  }
  .split {
    &.dark {
      &:before {
        top: -10px;
        left:20px;
        font-size: 120px;
      }
    }
  }
}

@media (max-width: 1240px) {
  .split {
    figure {
      .cpn {
        right: 0;
        bottom: 0;
      }
    }
  }
}

@media (max-width: 1130px) {
  #reviews {
    .heading-small, .h2 {
      text-align: center;
    }
    .badge {
      position: static;
    }
    .flex-ed {
      flex-direction: column;
    }
    .review {
      width: 100%;
      max-width: none;
      margin: 10px 0;
    }
  }
}

@media (max-width:1100px) {
  #page-banner {
    &.has-img {
      display: block;
      padding-top: 180px;
      padding-bottom: 20px;
      #main-img {
        margin: 0 auto;
      }
      .title-wrapper {
        max-width: none;
      }
      h1, #append {
        text-align: center;
        color: $w;
      }
      #intro {
        text-align: center;
      }
    }
  }
}

@media (max-width:1025px) {
  header {
    .logo {
      order: -1;
    }
  }
  #page-banner {
    &.has-img {
      padding-top: 80px;
    }
  }
  .services ul li {
    font-size: 12px;
  }
}

@media (max-width:1000px) {
    h2, .h2, .dividerLead, .more-to-explore span {
      font-size: 24px;
    }
    #hd-top {
      .flex-ed {
        flex-direction: column;
        & > div {
          flex: 0 1 100%;
        }
      }
    }
    #banner {
      article {
        position: static;
        transform: none;
      }
      .h1 small, .h2 {
        color: $text;
      }
      .h2 {
        font-size: 39px;
        text-align: center;
        span {
          position: static;
        }
      }
      .badge, .play {
        position: static;
      }
      figure {
        background-color: #1d1e1f;
      }
      background-color: $w;
    }
    #callouts {
      margin: 20px auto;
      .intro {
        text-align: center;
        font-size: 24px;
        margin: 10px auto;
      }
      article {
        text-align: center;
        border-left: 0;
        font-size: 18px;
      }
    }
    #meet {
      .sig {
        flex-direction: column;
      }
    }
    .mini-callouts {
      justify-content: center;
      .callout {
        display: block;
        max-width: 160px;
        padding: 10px;
        .h3 {
          margin: 10px auto;
        }
        .icon {
          margin: 10px auto;
        }
      }
    }
    #implants-index, #ortho-index {
      margin: 40px auto;
    }
    #ortho-index {
      figure {
        display: block;
        margin: auto;
        .cpn {
          bottom: 0;
          left:0;
          right: 0;
          margin: auto;
        }
      }
    }
    #digital {
      margin: 40px auto;
    }
    #financing {
      background-size: cover;
      height: auto;
      padding: 50px 10px;
      article {
        position: static;
        transform: none;
      }
    }
    .split {
      &.dark {
        padding: 50px 10px;
        article {
          padding: 10px;
        }
        .quote {
          font-size: 24px;
        }
      }
    }
    #financing, #fo-contents {
      background-attachment: scroll;
    }
    #page-title h1:only-child, h2#append, .h1 {
      font-size: 40px;
    }

    .split {
        .flex-ed {display: block; text-align: center;}
        figure {
          display: block;
          margin: auto;
          .cpn {
            bottom: 0;
            left:0;
            right: 0;
            margin: auto;
          }
        }
        article {
          margin: 20px auto;
              }
    }
    #reviews .slick-reviews .slick-list {overflow: hidden !important;}
    #page-title {
      transform: translate(-50%, -50%);
    }
    #intro {  margin: 20px auto; text-align: center; padding: 15px; border: 0;}
    #page-title h1:only-child, #page-title h2#append {
      text-align: center;
    }

    .block {    text-align: center; padding: 40px 10px;
        .contain {display: block;}
        .btn {margin: 10px auto;}
        h2, h3 { margin-bottom: 20px; text-align: center;}
        [class^="elem"]   {float: none; margin: 10px auto 20px;  max-width: 100%;}
        ul {display: table; margin: 20px auto;}
    }
    .services div {flex: 0 1 48%;}
    [data-player][class^="elem"]{max-width: 650px;}
    #fo-contents {flex-wrap: wrap; text-align: center;}
    .ft-btm .flex-row {
    	display: block;
    	text-align: center;
    	padding-top: 10px;
    }
    .ft-tnt {
      max-width: 400px;
      margin: 20px auto 0;
    }
    footer .hours {margin: 20px auto; }
    .fo-title {text-align: center;}
    .flex-ed-special {display: block; text-align: center;
        article {margin: auto;}
    }

}

@media (max-width:768px) {
  .hd-info {
    display: none;
  }
  #page-banner {
    &.has-img {
      padding-top: 50px;
    }
  }
  #page-title h2#append span {
    position: static;
  }
  #events-grid {
    .event {
      flex: 0 1 48%;
    }
  }
  .two-col {
    column-count: 1;
  }
  #fo-contents .flex-row{display:block}
  #fo-contents .line{height:1px;width:100%;margin:30px auto}
  #fo-contents{padding:30px 15px}
  .ft-tnt > a {
    flex-direction: column;
  }
  footer {
    .pho {
      font-size: 50px;
    }
  }
}

@media (max-width:730px) {
    #hd-info {flex: 0 1 auto;}
    header .phy {display: none;}
    header .pho {font-size: 18px;}
    #reviews .contain {padding: 0 10px;}
    .rv-controls {flex-wrap: wrap; margin: 10px auto;
        > div { position: relative; max-width: 450px; flex: 1 1 100%; order: -1; margin: 10px auto; }
    }
    .why ul {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .why ul li {-webkit-box-flex: 1;-ms-flex: 1 1 100%;flex: 1 1 100%;}
}

@media (max-width:590px) {
    #page-title h1:only-child, h2#append, #page-title h1 {
      color: $text;
    }
    #page-banner {
      height: auto;
    }
    #page-title {
      position: static;
      transform: none;
      color: $text;
    }
    #map, #assoc {display: none;}
    #reviews .slick-track {display: block !important;}
    #reviews .slick-reviews .slick-slide {margin: 0;}
    #copy span:last-of-type {display: block; visibility: hidden; font-size: 1px;}
    .gallery {padding: 0;}
    .services div {flex: 1 1 100%;}
    .youtube[class*="elem-"] { width: 100%; }
    [data-player][class^="elem"] {min-width: 100%;}
    .modal-content {
      width: 100%;
    }
    .cpn .main span {
      font-size: 30px;
    }
    .contact {
      display: block;
      text-align: center;
      .hours {
        margin: 10px auto;
      }
    }
}
@media (max-width:480px) {
    .hd-info {display: none;}
    #events-grid {
      .event {
        flex: 0 1 100%;
      }
    }
    #copy span:first-of-type {display: block; visibility: hidden; font-size: 1px;}
    #fixed-tabs strong {display: none;}
    [class^="btn"], .more-to-explore [class^="btn"] {min-width: 100%; width: 100%; margin: 8px auto;}
}
@media (max-width:400px) {

    [data-embed] .close {display: block; position: unset; text-align: center;  padding: 4px; }
}
