$primary: #e5c0ae;
$secondary:#a9cad3;
$tertiary: #c6bfbf;
$quat: #507181;
$text: #1d1e1f;
$font: 'Heebo', sans-serif;
$font2: "Adobe Garamond Pro", serif;
$facebook: #4d70a8;
$google: #dc4e41;
$yelp: #b62717;
$youtube: #d00;
$instagram: #133c58;
$twitter: #00aced;
$healthcare: #0202ea;

$w: #fff;
$b: #000;
$t: transparent;
