@import "_variables.scss";

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('assets/images/AdobeGaramondProRegular.ttf');
}

/* --- setup --- */
body {  position: relative; background-color: #fff; color: $text;  font: 400 17px/1.2 $font; counter-reset: section; overflow-x: hidden;  }
p {color: $text; font: 300 18px/30px $font; }
a {cursor: pointer; text-decoration: none; color: $primary; } a:hover { color: $secondary;}
hr {position: relative; display: table; clear: both; margin: 40px auto; width: 100%; height: 1px; background-color: $secondary;}

/* --- text styles --- */
h1, h2, h3, h4, h5, h6 {margin: 0; position: relative;}
#page-title h1, .h1 small { color: $w; font: 300 20px/1.11 $font; letter-spacing:2px; display: block; margin: 10px auto; text-transform: uppercase; }
#page-title h1:only-child, h2#append, .h1 {color: $w; font: 400 72px/1.1 $font2; text-transform: uppercase; text-align: left;}
#page-title h2#append span {display:block; position:relative; left:90px;}
h2, .h2, .dividerLead, .more-to-explore span  {color: $text; font: 400 36px/1.2 $font2; position: relative; text-transform: uppercase;}
h3, .h3 {color: $text; display: block; position: relative; font: 400 24px/1.1 $font2; text-transform: uppercase;  }
.h4, .accordion .toggle {color: $text; display: block; position: relative; font: 400 24px/1.25 $font;  }
.heading-small, h2.heading-small {
  display: block;
  font-family: $font;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #7793a1;
  padding-bottom:20px;
}
.h4 { font-family: $font2; font-size: 24px; font-weight: 400; text-transform: uppercase;}
.more-to-explore span {color: $primary; }
.fo-title {color: $text; font: 400 20px/1 $font; display: block; }
/* --- buttons ---- */
[class^="btn"] {position: relative; z-index: 1; display:inline-block; vertical-align: middle; cursor: pointer; text-align: center;  -webkit-transition: .3s all; transition: .3s all; font: 500 16px/20px $font; letter-spacing: 1.6px; color: #fff; text-transform: uppercase;  min-width: 280px; margin: 10px; padding: 15px 18px;  background-color: $tertiary;
  &:after {
    content: '';
    background: url('assets/images/arrow-light.png') no-repeat top left;
    width: 16px;
    height: 11px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 2px;
  }
}
[class^="btn"]:hover {background-color: $secondary; color: #fff; }
.btn-alt { background-color: $primary; }
.btn-alt:hover {background-color: $secondary; color: #fff;}
.btn-thr {background-color: $t;  &:hover {background-color: $t;}}

.arrow-light {
  background: url('assets/images/arrow-light.png') no-repeat top left;
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-left: 10px;
}

@import "_header.scss";

/* --- custom for vidoes --- */
[data-player],[data-vimeo], [data-embed] { position: relative; }
[data-player] video,[data-vimeo] video, [data-embed] video {width: 100%;}
[data-player] .play {cursor: pointer; position: absolute; top: 50%; left: 50%;  transform: translate(-50%, -50%); color: $text; font: 500 16px/1 $font; text-transform: uppercase; letter-spacing: 1.6px; text-align: center;  }
.play i {width: auto; height: auto; box-shadow: none; border: none; display: block; color: $w; display: inline-flex;  align-items: center; justify-content: center; font-size: 37px; margin: 10px; }
.play i:before {margin: auto; padding-left: 5px;}
[data-player] .play:hover {color: $secondary;}
[data-player] .play:hover i {color: $primary; background-color: transparent;}
[data-embed] .play {cursor: pointer;  position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
[data-embed] .close, [data-vimeo] .close { cursor: pointer; background-color: $primary; color: #fff; padding: 8px; text-transform: uppercase; z-index: 5;}
[data-embed] .close:hover, [data-vimeo] .close:hover { background-color: #1b1b1b; color: #fff; }
[data-embed] .close { position: absolute; top: 0; right: 0; }
[data-embed] .close i:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }


@import 'home';


.slick-arrow {color: $secondary; font-family: fontello; font-size: 60px; font-weight: 400; position: absolute; top: 50%;  transform: translateY(-50%); left: -90px; }
.slick-arrow:hover { color: $primary;  }
.slick-arrow i, .arrow i:before {display: block; margin: 0 auto;}
#next {left: auto; right: -90px; order: 2  }

.slick-dots  {line-height: 1; margin-top: 10px;
    div {
      font-weight: 500;
      cursor: pointer;
      color: #507181;
      opacity: 0.6;
    }
    .slick-active div {
      opacity: 1;
    }
}

.slick-gallery {position: relative; max-width: 1000px; margin: 20px auto; text-align: center;
    article .flex-ed {justify-content:space-around; padding-bottom: 50px; flex-wrap: nowrap;
        >div {position: relative; flex: 0 1 45%; padding: 10px;
            img {width: 100%; }
        }
        span {margin: 10px; position: relative;  flex: 0 1 48%;
            img {width: 100%; }
            &:after {content: 'Before'; position: absolute; bottom: -40px; left: 0; right: 0; margin: auto; display: block; margin: auto; color: $text;  font: 500 20px/1.2 $font;}
            &:last-of-type:after {content: "After";}
        }
    }
    article div p {display: block;}
    .caption {
      font-size: 18px;
      font-weight: 300;
    }
}

.arrow-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #507181;
  &:before {
    content: '';
    background: url('assets/images/arrow-dark.png') no-repeat top left;
    width: 27px;
    height: 18px;
  }
  &:hover {
    background-color: $primary;
  }
}

#prev {
  .arrow-icon {
    transform: rotate(-180deg);
  }
}

// /* rotations */
 .gallery { max-width: 990px; margin: 0 auto 10px; padding: 0 50px;}
.slick-slider .slick-slide img { margin: 0 auto; display: block; }
.slick-controls { display: flex; align-items: center; justify-content: space-around;
}

@media (max-width:701px) {
    .gallery {padding: 10px;}
    .gallery .arrow {position: relative; display: inline-block;  transform: none; top: auto;  margin: 0;}
    .gallery article .flex-ed {flex-wrap: wrap;}
    .gallery article .flex-ed >div {flex: 1 1 100%; }
    .gallery article .flex-ed span {margin-bottom: 40px; flex: 1 1 100%;}
    .arrow {top: auto; transform: none; position: relative; left: auto; right: auto !important;}
}
// .slick-track
// {
//     display: flex !important;
// }

// .slick-slide
// {
//     height: auto !important; border: 2px solid pink;
// }

.modal-content {
  background-color: #507181;
  .h3 {
    color: $w;
    margin-bottom: 15px;
  }
  .cpn {
    margin-bottom: 10px;
    border: 0;
  }
  .btn-alt {
    display: table;
    margin: 20px auto 10px;
  }
}

@import "_footer.scss";
@import "_internal.scss";
@import "_fixed-tabs.scss";
@import "safety";
@import "_media-queries.scss";


/*end */
