/* reset styles to normal */
.progress,sub,sup{vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}hr,sub,sup{position:relative}body,figure{margin:0}button,hr,input,select{overflow:visible}[type=checkbox],[type=radio],legend{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box; font-size: 100%;}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0 0 .67em}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:60%;line-height:0}sub{bottom:-.25em}sup{top:-.45em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;border:0}button,input,select,textarea{font:inherit;line-height:initial;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;border:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}address {font-style: normal}img {max-width:100%; display: block; margin: 0 auto}*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;}
*::before, *::after, a {-webkit-transition:all .4s;  transition: all .4s;} i::before {-webkit-transition:none;transition: none}
.clearfix:before, .clearfix:after{display:table;content:" "; clear: both}
a[name]{display: block; cursor: auto!important} p.has_target {margin: 0}
.no-scroll-map iframe {display: block; width: 100%}


/* --- flexbox --- */
[class*="flex-"] {display: -webkit-box;display: -ms-flexbox; display: flex;}
[class*="-col"] {-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-flow: column;-ms-flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
[class*="-row"] {-webkit-box-orient: horizontal;-webkit-box-direction: normal; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }
[class*="-wrap"] {-ms-flex-wrap: wrap;flex-wrap: wrap;}
.elem-full {max-width: 100%; margin: 6px; margin-bottom: 10px; max-width: 45%;}
.elem {max-width: 45%;}
.elem-left {float:left; margin-top: 8px; margin-right: 30px; margin-bottom: 20px;}
.elem-right {float:right; margin-top: 8px; margin-left: 30px; margin-bottom: 20px;}


.hide, .page_index .internal, .page_index #page {display: none!important}
.youtube:after, star:before, .toogle:before, main ul li:before  {font-family:'fontello'; font-weight: 400; margin:0; font-style: normal;}
/* --- icons ---- */
star:before {content: '\e80f \e80f \e80f \e80f \e80f'; color: #f4bd17;}
.youtube:after {content: '\e80e';}
/* --- end foundation --- */


/* Slick Slider */
.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0; outline: none; }
.slick-list:focus {outline: none; }
.slick-list.dragging {cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track {position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after {display: table; content: ''; }
.slick-track:after {clear: both; }
.slick-loading .slick-track {visibility: hidden; }
.slick-slide {display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide {float: right; }
.slick-slide img {display: block; }
.slick-slide.slick-loading img {display: none; }
.slick-slide.dragging img {pointer-events: none; }
.slick-initialized .slick-slide {display: block; }
.slick-loading .slick-slide {visibility: hidden; }
.slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden {display: none; }
.slick-dots { margin:0px; padding:0px; list-style: none; text-align: center; }
.slick-dots li { padding:0px!important; display: inline-block; margin: 0 5px;}
.slick-dots li:before { display:none; }

/* Youtube lazyload styles */
[data-player],[data-vimeo], [data-embed] { position: relative; }
[data-player] video,[data-vimeo] video, [data-embed] video {width: 100%;}
[data-player] .play {cursor: pointer; color: #fff; font: 400 14px/1 Helvetica, sans-serif; text-transform: uppercase; letter-spacing: 2.4px;}
.play i {width: 92px; height: 92px;border-radius: 50%; -webkit-box-shadow: 2px 3px 7px rgba(24, 23, 24, 0.35); box-shadow: 2px 3px 7px rgba(24, 23, 24, 0.35); border: 2px solid #fff; display: block; color: #bddbeb; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 60px; margin: 10px auto;}
.play i:before {margin: auto; padding-left: 10px;}
[data-player] .play:hover {color: #c89b00;}
[data-player] .play:hover i {background-color: #fff;}
[data-player] .play:hover span img {opacity: 0;}
[data-player] .play em {font-style: normal;}
[data-embed] .play {cursor: pointer;  position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
[data-embed] .close, [data-vimeo] .close { cursor: pointer; background-color: #c89b00; color: #fff; padding: 8px; text-transform: uppercase; }
[data-embed] .close:hover, [data-vimeo] .close:hover { background-color: #1b1b1b; color: #fff; }
[data-embed] .close { position: absolute; top: 0; right: 0; }
[data-embed] .close i:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.youtube { position: relative; cursor: pointer; width: 100%; font-size: 0; }
.youtube[class*="elem-"] { width: 440px; }
.youtube:before, .youtube:after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.youtube:before { content: ""; background-color: #fff; width: 40px; height: 40px; }
.youtube:after { font-size: 70px; color: #4d4d4d; font-family: "fontello"; font-weight: 400; margin: 0; font-style: normal; content: "\e80e"; }
.youtube:hover:after { color: #ff0000; }
.youtube.active:before, .youtube.active:after { display: none; }

[data-player][class^="elem"]{position: relative; min-width: 460px;}
/*for internal videos with close buttons */
.yt-play {cursor: pointer; position: absolute; top: 42%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 70px; color: #4d4d4d; font-family: "fontello"; font-weight: 400; margin: 0; font-style: normal; content: "\e80e"; }
.yt-play:hover { color: #ff0000; }


.videoWrapper{position:relative;padding-bottom:56.25%;height:0}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}

.vid {width: 100%; max-width: 400px}
.video-grid, .video-middle {clear: both; margin: 30px auto}
.video-grid {text-align: center; display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center}
.video-grid h3 {margin-bottom: 8px; font-size: 20px;}
.video-grid > * {width: 100%; max-width: 50%; padding: 5px}
.video-grid > div p {margin: 0;}
.video-middle {width: 100%; max-width: 800px;}
@media (max-width:750px) {
    .vid {display: table; float:none; margin:15px auto!important; max-width:100%!important;}
    .video-grid {display: block}
    .video-middle, .video-grid > * {max-width: 600px; margin: 10px auto;}}

/* Modal */
#lean_overlay {padding: 10px; position: fixed; z-index:1100; top: 0; left: 0; height:100%; width:100%; background: rgba(0,0,0,.7); display: none; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center; }
#lean_overlay input, #lean_overlay textarea { display: block; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box;border: none; padding: 12px 10px; font-size: 17px; margin-bottom: 10px; color: inherit;line-height: 1em; -webkit-transition:.3s ease all; transition: .3s ease all;    }
.modal-content { display: none; -webkit-box-flex:100%; -ms-flex:100%; flex:100%; background: rgb(237, 237, 237); max-width: 500px; -webkit-box-sizing: border-box; box-sizing: border-box; padding:20px; position: relative; margin: 15px; }
.modal-close { position: absolute; right:-15px; top:-15px; z-index:1002; cursor:pointer; width: 40px; height: 40px; border-radius: 50%; background-color: #507181; -webkit-box-shadow:0 0 4px 2px rgba(0,0,0,.3); box-shadow:0 0 4px 2px rgba(0,0,0,.3); border: 2px solid #fff; padding: 1px;}
.modal-close i { position: relative; color:#fff; ;}
.modal-close i:before {  -webkit-transform: rotate(45deg); transform: rotate(45deg);
    font-size: 40px; margin: 0; content: '+'; line-height: 30px; }
.modal-close:hover {background-color: #e5c0ae; }
/* FOR IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .modal-close i:before { margin: 3px -3px; }
    }
/* For Firefox */
@-moz-document url-prefix() {
      .modal-close { border-width: 3px; }
      .modal-close i {margin: 0 -1px;}
    }

/* Video Modal */
.vid-mdl {position: relative; border: 2px solid #000; min-width: 200px; min-height: 200px;}
.vid-mdl .modal-btn {position: absolute; right: 5px; bottom: 5px; font-size: 40px;}
.vid-mdl .modal-btn {padding: 0; }
.btn.modal-btn {padding-left: 45px;}
.btn.modal-btn i { position: absolute; left: 0; top: 0; bottom: 0; background-color: #c88e04; padding: 0 3px;line-height: 2.6;}
.modal-content .btn {  margin: 20px auto 0; display: table; }
#bio-modal {max-width: 800px; padding: 10px;}
#bio-modal .modal-close.vid:after{content:"Close Video"; color:#fff; position:absolute; width: 80px; top: -8px;
    right: 40px; text-align:right;opacity:0; font-size: 14px;}
#bio-modal .modal-close.vid:hover:after{opacity:1}
#ask-question strong { font-size:20px; text-align: center; text-transform: uppercase; line-height: 1; margin-bottom: 20px; display: block; }
#ask-question  textarea { height: 120px; }
.modal-content ::-webkit-input-placeholder {color: #363636}
.modal-content :-moz-placeholder {color: #363636}
.modal-content ::-moz-placeholder {color: #363636}
.modal-content :-ms-input-placeholder {color: #363636}

/* Animations */
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
.pulse { -webkit-animation-name: pulse; animation-name: pulse; }
@-webkit-keyframes pulse{from{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@keyframes pulse{from{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}
.fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft;}
@-webkit-keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
@-webkit-keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut;}
@-webkit-keyframes fadeOut{from{opacity:1}to{opacity:0}}
@keyframes fadeOut{from{opacity:1}to{opacity:0}}
.zoomIn { -webkit-animation-name: zoomIn; animation-name: zoomIn; }
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
@keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
.slideInDown { -webkit-animation-name: slideInDown; animation-name: slideInDown; }
@-webkit-keyframes slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes slideInDown{from{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.slideInLeft { -webkit-animation-name: slideInLeft; animation-name: slideInLeft; }
@-webkit-keyframes slideInLeft{from{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes slideInLeft{from{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.slideInRight { -webkit-animation-name: slideInRight; animation-name: slideInRight; }
@-webkit-keyframes slideInRight{from{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes slideInRight{from{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.slideInUp { -webkit-animation-name: slideInUp; animation-name: slideInUp; }
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.rollIn { -webkit-animation-name: rollIn; animation-name: rollIn; }
@-webkit-keyframes rollIn{from{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes rollIn{from{opacity:0;-webkit-transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);transform:translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)}to{opacity:1;-webkit-transform:none;transform:none}}
.zoomIn { -webkit-animation-name: zoomIn; animation-name: zoomIn; }
@keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
.heartbeat {-webkit-animation: heartbeat 1.5s ease-in-out infinite both; animation: heartbeat 1.5s ease-in-out infinite both;}
@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

/*  zooms in and ends full original image */
.kenburns-top { -webkit-animation: kenburns-top 3s ease-out both; animation: kenburns-top 3s ease-out both; }
@-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}}@keyframes kenburns-top{0%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}100%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}}
.focus-in-expand{-webkit-animation:focus-in-expand 0.8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand 0.8s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
